{% load static %}
<!-- Include navbar -->
{% include 'navbar.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font_awesome/css/all.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1>Hol olcsoo a ...</h1>
    <form action="{% url 'search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
</form>
</body>
</html>