{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font_awesome/css/all.min.css' %}">

</head>
<body>
    <!-- Include navbar -->
    {% include 'navbar.html'%}
    <div class="row container-fluid" id="searchBar" style="margin-top: 80px">
        <div class="col-1">
        </div>
        <div class="col-10">
            {% block error %}
            {% endblock %}
            <!-- Include main content -->
            <form action="{% url 'search_results' %}" method="get">
                <div class="mb-3">
                    <label for="mainSearch" class="form-label">Search</label>
                    <input type="search" class="form-control" id="mainSearch" name="q" placeholder="name of a food">
                </div>
            </form>
        </div>
    </div>
      {% for price in price_list %}
        <div class="row container-fluid" id="card" style="margin-top: 10px">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="card text-center">
                  <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Overview</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ price.item.name }}</h5>
                    <p class="card-text">Ár: {{ price.value }} Ft.-, Bolt neve: {{price.item.categories.sold_by}}</p>
                    <a href="#" class="btn btn-primary">Hoci ide!</a>
                  </div>
                </div>
            </div>
        </div>
      {% endfor %}

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>